#page-login {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

#page-login-form a {
    margin-left: 1.1rem;
    color:#fdb817;
    font-weight: bold;
    display: inline-block;
    transition: .2s;
}

#page-login-form a:hover {
    transform: scale(1.05);
}

#page-login-form main button  {
    width: 100%;
    height: 5.6rem;
    margin-top: 0.8rem;
    border-radius: 0.8rem;
    color: #665835;
    background: #fdb817;
    border: 1px solid #E6E6F0;
    outline: 0;
    padding: 0 1.6rem;
    transition: background-color .2s;
}

#page-login-form main button:hover  {
    border: 0;
    cursor: pointer;
}