.page-header {
    display: flex;
    flex-direction: column;
    background-color: var(--color-background);
}

.page-header .top-bar-container {
    width: 100%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: var(--color-line-in-white);
    padding: 1.6rem 0;
}

.page-header .top-bar-container a {
    margin: 0 0.8rem;
    text-decoration: none;
    padding: 0.8rem;
    transition: opacity 0.2s;
}

.page-header .top-bar-container a:hover {
    font-weight: bold;
}

main .page-landing-header {
    width: 100%;
    background-color: #143550;
    height: 80vh;
    background-image: url("../../assets/images/minions-1.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
}

main .minion-item {
    width: 100%;
    background-color: yellow;
}

@media (min-width: 700px) {
    .page-header {
        min-height: 70px;
        max-height: 15vh;
    }
    .page-header .top-bar-container {
        max-width: 1100px;
    }
}

@media (max-height: 400px) {
    main .page-landing-header  {
        background-image: none;
    }
}